.container{
    position: fixed;
    display:flex;
    width:100%;
    top:0;
    background-color:lightskyblue;
    justify-content: space-around;
   
}
.navlist{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    flex:5;
    font-weight: bold;
}
.shopping-cart1{
    margin-top: 80px;
    background-color: lightgreen;
    margin-left: 550px;
    width:200px;
}
